<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Sortable - Connect lists</title>
    <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  

    <script src="jquery.js"></script>
    <script src="jquery-ui/jquery-ui.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Model.js"></script>
    <script src="groupCompanent.js"></script>
    <script src="questionCompanent.js"></script>


</head>
<body>
<div id="app">
    <q-group :orig-name="title" :orig-collection="collection" :id="0">
    </q-group>
</div>


<template id="group">
    <div class="group-content">
        <header>
            <div class="title"> 
            	<button class="close" @click="open = !open">
            		<span v-if="open">_</span>
            		<span v-else="">></span>
            	</button>
            	<input class="input-group" v-model="name"/>
            </div>
            <button class="minus" @click="askDelMyself">×</button>
        </header>
        <div class="content" v-if="open">
	        <div v-for="(item, index)  in collection" 
	        	:key="(gIndex +'-'+ index)"
	        	:class="item.type">
	            <q-group
	                v-if="item.type=='group'"
	                :orig-name="item.name"
	                :orig-collection="item.collection"
	                :g-index="index"
	                :id="(gIndex +'-'+ index)"
	                v-on:delgroup="deleteFromCollection">
	            </q-group>
	            <question v-else="" 
	            	class="question"
	            	:index="index"
	            	:question-data="item" 
	            	v-on:delqustion="deleteFromCollection">
	            </question>

	        </div>
	        <footer>
	        	<button class="plusQ" @click="addQuestion">+</button>
	        	<button class="plus" @click="addGroup">+</button>
	        </footer>
        </div>	
    </div>
</template>


<template id="question">
    <div class="question-content">
        <header>
            <textarea class="input-question" v-model="text"></textarea>
            <button class="minus" @click="askDelMyself">×</button>
        </header>
        <div class="type-answers">
        	<ul>
	        	<li v-for="(item, index) in answers" 
					:key="index" 
					>

					<textarea v-model="answers[index]">
	        		</textarea>
					<button class="minusQ" @click="askDelMyself">×</button>

	        		
	        	</li>
        	</ul>   	
        </div>
        

    </div>
</template>


<script type="text/javascript">
	
	var vm = new Vue({
		el:   '#app',
		data: {
			title:      'АНКЕТА',
			collection: [
				// {
				// 	type:       "group",
				// 	name:       'GROUP 1',
				// 	collection: [{
				// 		type: "question",
				// 		text: "как тебя зовут?"
				// 	}]

				// }
				
			]
		}
	})

</script>
<!-- <script src="Editor.js"></script> -->
</body>
</html>
