<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Questionnair Editor</title>
    <link rel="stylesheet" href="style.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>

	<script src="Model.js"></script>
    <script src="companents/GroupCompanent.js"></script>
	<script src="companents/QuestionCompanent.js"></script>
	<script src="companents/AnswerRangeCompanent.js"></script>
	<script src="companents/AnswerNumberCompanent.js"></script>
	<script src="companents/AnswerTextCompanent.js"></script>
	<script src="companents/AnswerListCompanent.js"></script>
	
</head>
<body>
<div id="app">
    <q-group :group-data="data" :id="0"/>
</div>

<!-- GROUP -->
<template id="group">
	<section>
	<header>
		<el-row class="title"> 
			<input class="input-group" :value="name" @input="updateName"/>
		</el-row>
	</header>
    <el-collapse v-model="activeNames" class="group-content">
		<el-collapse-item 
			v-for="(item, index) in collection" 
			:title = "labels[item.type] + ' ' + (index + 1)"
			:name = "index"
			:key="(gIndex +'-'+ index)"
			:class="['collection-item']">
			<q-group
				v-if="item.type=='group'"
				:group-data="item"
				:id="(gIndex +'-'+ index)"
			 @delgroup="deleteFromCollection">
			</q-group>
			<question v-else="" 
				class="question"
				:index="index"
				:question-data="item" 
				@delqustion="deleteFromCollection"
				@update="function(v){ updateQuestion(index, v)}">
			</question>
			<el-button circle icon="el-icon-close" class="minus" @click="deleteFromCollection(index)"/>
		</el-collapse-item>
    </el-collapse>
	<footer>
		<el-button icon="el-icon-edit-outline" class="plusQ" @click="addQuestion">Добавить Вопрос</el-button>
		<el-button icon="el-icon-menu" class="plus" @click="addGroup">Добавить Раздел</el-button>
	</footer>
    </section>
</template>

<!-- QUESTION -->
<template id="question">
    <div class="question-content">
        <header>
			<el-input
				type="textarea"
				autosize
				placeholder="Введите Вопрос"
				:value="text"
				size="medium"
				@input="updateText">
			</el-input>
		</header>
		<el-select :value="answerType" @input="resetAnswerStruct" placeholder="Тип Ответа">
			<el-option v-for="(lable, key) in answerTypeLables" 
				:value="key" 
				:key="key"
				:label="lable"></el-option>
		</el-select>

		<div class="answerStruct">
			<component v-bind:is="componentNameOfContent" :data="answerStruct" @update="updateAnswerStruct"></component>
		</div>
    </div>
</template>

<!-- ANSWER TYPES -->

<!-- LIST -->
<template id="answer-type-list">
	<div class="answer-type list ">
		<ul class="answer-list">
			<li v-for="(item, index) in list">
				<component v-bind:is="componentNameOfContent" 
					:data="item" 
					 @update="function(v){ updateAnswer(index, v)}"
					class="input-question"></component>
				<el-button circle icon="el-icon-close" class="minus" @click="deleteAnswer(index)"/>
			</li>
			<el-button icon="el-icon-edit-outline" class="plusQ" @click="addToList">Добавить вариант ответа</el-button>
		</ul>
	</div>
</template>

<!-- TEXT -->
<template id="answer-type-text">
	<div class="answer-type text">
		<el-input placeholder="Введите вариант ответа" :value="value" @input="updateValue"></el-input>	
	</div>
</template>

<!-- NUMBER -->
<template id="answer-type-number">
	<div class="answer-type number">
		<el-input-number  class="input-number" v-model="value">
	</div>
</template>

<!-- RANGE -->
<template id="answer-type-range">
	<el-row class="answer-type-range" type="flex" :gutter="20">
		<el-col >с
			<el-input-number :key="1" class="input-number" v-model="min">
				
			</el-input-number>
		</el-col>
		<el-col >по
			<el-input-number :key="2" class="input-number" v-model="max">
				
			</el-input-number>
		</el-col>
		<el-col>шаг
			<el-input-number :key="3" class="input-number" v-model="step">
				
			</el-input-number>
		</el-col>
	</el-row>
</template>



<script type="text/javascript">
	
	var vm = new Vue({
		el:   '#app',
		data: {
			data:{
				type: 'group',
				name:      'АНКЕТА',
				collection: [
					{
						type:       "group",
						name:       'Группа Вопросов 1',
						collection: [{
							type: "question",
							text: "Kак тебя зовут?",
							answerType: 'list',
							answerStruct:{
								type: "list",
								contentType: "text",
								multyple: true,
								list: [
									{
										type: "text",
										value: "лабудень 1"
									},
									{
										type: "text",
										value: "лабудень 2"
									},
									{
										type: "text",
										value: "лабудень 3"
									}
								],
								
							}
						}]
					}	
				]
			}
		}
	})

</script>
</body>
</html>
