
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Sortable - Connect lists</title>
  <link rel="stylesheet" href="style.css">
  <script src="jquery.js"></script>
  <script src="jquery-ui/jquery-ui.js"></script>

  <script  src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
  <!-- <script src="Model.js"></script> -->
  
  
</head>
	<body>
		<div id="app"> 
			<q-group :orig-name="title" :orig-collection="collection">
			</q-group>
		</div>

		 	 

		 <template id="group">
  			<div class="group">
			    <h1>{{ name }}</h1>
			    <div v-for="item in collection" >
			    	<q-group v-if="item.type=='group'" :orig-name="item.name" :orig-collection="item.collection">
					</q-group>
			    	<question v-else="" class= "question" :question-data="item">
					</question>
			    </div>
		  	</div>
		</template>


		<template id="question">
  			<div class="question">
			    <h1>{{ text }}</h1>
			    
		  	</div>
		</template>

				
		<script type="text/javascript">
			Vue.component('q-group', {
			  props:['origName', 'origCollection'],
			  data: function () {
			    return {
			      name: this.origName,
			      collection: this.origCollection
			    }
			  },
			  template: '#group',
			 
			})	


			Vue.component('question', {
			  props:['questionData'],
			  data: function () {
			    return {
			      text: this.questionData.text,
			      answers: []
			    }
			  },
			  template: '#question'
			})	

			var vm = new Vue({
			  el: '#app',
			  data: {
			    title: 'Title!!!!',
			    collection: [
			    	{
			    		type:"group" ,
			    		name:'GROUP 1',
			    		collection: [{
			    			type:"question",
			    			text:"как тебя зовут?"
			    		}]

			    	},
			    	{
			    		type:"question",
			    		text:"как пройти в библиотеку?"
			    	},
{
			    		type:"question",
			    		text:"как пройти в ресторан?"
			    	}
			    ]
			    
			  }
			})

		</script>
		 <!-- <script src="Editor.js"></script> -->
	</body>
</html>
