body{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
header .title{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    font-weight: normal;
}
header .title  input, header .title button{
    background: transparent;
    border: none;
}

.group, .question  {
    padding: 10px  0 10px 30px;
    margin: 10px 0 ;
    font-size: 25px;
}
.group{
    margin-bottom: 50px;
    border-bottom: 1px solid; 
}

.question {
   font-size: 15px;
 
}
.group:last-child, .question:last-child{
    border-bottom: none;
}
.input-group {
    width: 100%;
    font-size: 25px;
}
.input-question {
    width: 100%;
    font-size: 15px;
}
.input{
 
}

header, footer{
    display: flex;
    
}
header{
   justify-content: space-between; 
}

button{
    width: 48px;
    height: 48px;
    background: white;
    border: 1px solid #ccc;
    font-size: 25px;
    line-height: 46px;
    padding: 0;
    font-weight: 300;
 
}
button.minus{
    background: transparent;
    border: none;
}

button.plusQ, button.minusQ{
   border-radius: 50%; 
}

.question-content{
    border-bottom: 1px dashed #ccc    
}
.type-answers{
   font-size: 30px;
   color: black;
   display: flex;
   flex-wrap: nowrap;
   flex-grow: 1;
   font-weight: normal; 
}