body{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
h1{
    font-size: 24px;
    align-self: center;
    padding: 3px;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 14px;
    padding: 0 3px 0 3px
}
*{
    box-sizing: border-box;
}
header .title{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    font-weight: normal;
}
header .title  input{
    background: transparent;
    border: none;
}

.group, .question  {
    padding: 10px  0 10px 30px;
    margin: 10px 0 ;
    font-size: 25px;
}
.group{
    margin-bottom: 50px;
    /* border-bottom: 1px solid;  */
}

.question {
   font-size: 15px;
 
}
.group:last-child, .question:last-child{
    border-bottom: none;
}
.input-group {
    width: 100%;
    font-size: 25px;
}
.input-question {
    width: 100%;
    font-size: 15px;
}

header, footer{
    display: flex;
    
}
header{
   justify-content: space-between; 
}

/* button{
    width: 48px;
    height: 48px;
    background: white;
    border: 1px solid #ccc;
    font-size: 25px;
    line-height: 46px;
    padding: 0;
    font-weight: 300;
 
}
button.minus{
    background: transparent;
    border: none;
}

button.plusQ, button.minusQ{
   border-radius: 50%; 
} */

.type-answers{
   font-size: 30px;
   color: black;
   display: flex;
   flex-wrap: nowrap;
   flex-grow: 1;
   font-weight: normal; 
}
.answerForm{
    border: 1px dashed #ccc;
}
.answer-type-range{
    display: flex;
    flex-wrap: nowrap; 
    flex-grow: 1;
    font-weight: normal;
}